<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="flexContainer">
  <div>
    <h3>Reactive Form</h3>
    <h5>form 1</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-form1 [appFormGroup]="form"></app-form1>
      <app-form2 [appFormGroup]="form"> </app-form2>
      <app-form3 [appFormGroup]="form"></app-form3>
    </form>
    <h6>Form Value</h6>
    <div>
      Using observable:
    </div>
    <br>
    <div>
      {{formVal$ | async}}
    </div>
    <br>
    <hr>
    <br>
    <div>
      Using model
    </div>
    <div>
      {{'firstName : ' + formModel?.firstName + ', password: ' + formModel?.password}}
      {{'firstName2 : ' + formModel?.firstName2 + ', password2: ' + formModel?.password2}}
      {{'firstName3 : ' + formModel?.firstName3 + ', password3: ' + formModel?.password3}}
    </div>
  </div>
  <div>
    <h3>Template Driven Form</h3>
    <form #f="ngForm">
      Value
      <input type="text" name="v" [(ngModel)]="v" required />
      <button (click)="test(f)">Test</button>
      <h4>{{ 'Value: ' + v }}</h4>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
