<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="flexContainer">
  <div>
    <h3>Reactive Form</h3>
    <form [formGroup]="form">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab>
          <ng-template ngbTabTitle>Form 1</ng-template>
          <ng-template ngbTabContent>
            <app-form1 [appFormGroup]="form"></app-form1>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Form 2</ng-template>
          <ng-template ngbTabContent>
            <app-form2 [appFormGroup]="form"> </app-form2>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Form 3</ng-template>
          <ng-template ngbTabContent>
            <app-form3 [appFormGroup]="form"></app-form3>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </form>
    <br>
    <button type="button" class="btn btn-outline-success" (click)="validate()">Form Validation</button>
    <br>
    <br>
    <br>
    <h6>Form Value</h6>
    <!-- <div>
      Using observable:
    </div>
    <br>
    <div class="text">
      {{formVal$ | async}}
    </div>
    <br>
    <hr> -->
    <br>
    <h6>
      Display using model
    </h6>
    <div class="text">
      {{'firstName : ' + formModel?.firstName + ', password: ' + formModel?.password}}
      {{'firstName2 : ' + formModel?.firstName2 + ', password2: ' + formModel?.password2}}
      {{'firstName3 : ' + formModel?.firstName3 + ', password3: ' + formModel?.password3}}
    </div>
    <br>
    <h6>
      Display using observable:
    </h6>
    <br>
    <div class="text">
      {{formVal$ | async}}
    </div>
    <br>
    <h6>Invalid form controls</h6>
    <div class="text">
      {{invalidFormControls}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
