<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="flexContainer">
  <div>
    <h3>Reactive Form</h3>
    <form [formGroup]="form">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><span
              [class.invalid]="form.controls.form1.invalid && form.controls.form1.touched">Form 1</span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-form1 formGroupName="form1"></app-form1>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><span
              [class.invalid]="form.controls.form2.invalid  && form.controls.form2.touched">Form 2</span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-form2 formGroupName="form2"> </app-form2>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><span
              [class.invalid]="form.controls.form3.invalid  && form.controls.form3.touched">Form 3</span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-form3 formGroupName="form3" [childGroups]="['form31']"></app-form3>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </form>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary" (click)="validate()">Form Validation</button>
      <button type="button" class="btn btn-outline-danger" (click)="reset()">Reset</button>
    </div>
  </div>
  <div>
    <h6>
      Form Value:
    </h6>
    <br>
    <pre class="text" [innerHtml]="formVal$ | async">

    </pre>
    <br>
    <h6>Invalid form controls</h6>
    <div class="text">
      {{invalidFormControls}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
