<ng-container [formGroup]="controlContainer.control">
  <div class="form-group">
    <label>First Name3:</label>
    <input type="text" class="form-control" formControlName="firstName3">
  </div>
  <div class="form-group">
    <label>Password3:</label>
    <input type="password" class="form-control" formControlName="password3">
  </div>
  <!-- <button type="button" class="btn btn-sm btn-outline-primary">Form Button3</button> -->
  <ng-container *ngIf="childGroups[0]">
    <app-form1 [formGroupName]="childGroups[0]"></app-form1>
  </ng-container>

</ng-container>
